name: Wheels

on:
  push:
    branches:
     - main
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - name: Install Build
      run: pip install twine build
    - name: Build SDist
      run: python -m build . --sdist
    - name: Check metadata
      run: twine check dist/*
    - uses: actions/upload-artifact@v4
      with:
        path: dist/*.tar.gz
        name: wheels-sdist

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]

    steps:
    - uses: actions/checkout@v3

    - uses: pypa/cibuildwheel@v3.2.1

    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels-${{ matrix.os }}      
        path: wheelhouse/*.whl


  upload_all:
    name: Release To PyPi
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - uses: actions/download-artifact@v4
      with:
        pattern: wheels-*
        merge-multiple: true
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.13.0
